AddDefaultCharset UTF-8
AddCharset UTF-8 .html
SetEnv PHP_VER 5
SetEnv MAGIC_QUOTES 0
SetEnv REGISTER_GLOBALS 0
RewriteEngine On

#### Interdire l'accès au htaccess depuis un navigateur web
<Files .htaccess>
order allow,deny
deny from all
</Files>

#### Interdire de lister le contenu d'un dossier
options -indexes
